<h1 [innerText] ="title" align="center"></h1>

 <table  class="table table-bordered table-striped" >
        <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Event Name</th>
                    <th>Fee</th>
                    <th>Start Date</th>
                    <th>Description</th>
                </tr>
            </thead>
    <tr *ngFor="let e of events">
        <td><span [innerText]="e.EventID"></span></td>
        <td><span [innerText]="e.EventName"></span></td>
        <td><span [innerText]="e.Fee"></span></td>
        <td><span [innerText]="e.StartDate | date"></span></td>
        <td><button class="btn btn-primary" (click)="getSelectedEvent(e)">Show Detail</button></td>
    </tr>
</table>

<div *ngIf="selectedEvent">
    <event-details [eventComp]="selectedEvent"></event-details>
</div>

