<h1 [innerText] ="title" align="center"></h1>

 <table  class="table table-bordered table-striped" >
        <thead>
                <tr>
                    <th>Emp. ID</th>
                    <th>Emp Name</th>
                    <th>Salary</th>
                    <th>Description</th>
                </tr>
            </thead>
    <tr *ngFor="let e of emps">
        <td><span [innerText]="e.EmpNo"></span></td>
        <td><span [innerText]="e.EmpName"></span></td>
        <td><span [innerText]="e.Salary"></span></td>
        <td><button class="btn btn-primary" (click)="getselected(e)">Show Detail</button></td>
    </tr>
</table>

<div *ngIf="selectedEmployee">
    <employee-details [employee]="selectedEmployee"></employee-details>
</div>